
-- Manual Workouts Table
CREATE TABLE IF NOT EXISTS user_manual_workouts (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES users(id) ON DELETE CASCADE,
    workout_name TEXT NOT NULL,
    notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Workout Performance Logs (Sets/Reps)
CREATE TABLE IF NOT EXISTS workout_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES users(id) ON DELETE CASCADE,
    workout_id UUID REFERENCES user_manual_workouts(id) ON DELETE CASCADE,
    exercise_name TEXT NOT NULL,
    sets_count INTEGER DEFAULT 1,
    reps_count INTEGER DEFAULT 1,
    weight_kg DECIMAL(5,2),
    logged_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ensure real-time is enabled for critical tables
ALTER PUBLICATION supabase_realtime ADD TABLE memberships;
ALTER PUBLICATION supabase_realtime ADD TABLE user_measurements;
ALTER PUBLICATION supabase_realtime ADD TABLE check_ins;

